body {
    font-family: Arial, sans-serif;
    margin: 30;
    padding: 0;
    background-color: #1f242d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
    width: 850px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.image-preview {
    margin-top: 20px;
}

#image-preview {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
